@model IEnumerable<End_Project.Models.Albums>
...
<h1>Search by album title</h1>
@using (Html.BeginForm("Name", "AlbumSearch", FormMethod.Get)) {

    @Html.TextBox("name")<input type="submit" value="Search Title" />

    if (Model.Count() == 0) {
        <p> Nothing matched your stupid search. Fuck off with your shit! </p>
    }
    else {
        <table border="1" cellpadding="6">
            <tr>
                <td>@Html.TextBox("nameId", "Title", new { @readonly = "readonly" })</td>
                <td>@Html.TextBox("authorId", "Author", new { @readonly = "readonly" })</td>
                <td>@Html.TextBox("genreId", "Genre", new { @readonly = "readonly" })</td>
                <td>@Html.TextBox("yearId", "Year", new { @readonly = "readonly" })</td>
            </tr>
        </table>
        foreach (var i in Model) {
            <table border="1" cellpadding="6">

                <tr>
                    <td>
                        @Html.TextBox("Title", i.Name, new { @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBox("Author", i.Author, new { @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBox("Genre", i.Genre, new { @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.TextBox("Year", i.Year, new { @readonly = "readonly" })
                    </td>
                </tr>
            </table>
        }
    }
}
